
h1{
font-family: small;'Raleway', sans-serif;  
color:#0065FC
}
a {
	text-align:right;
}
em {
font-family: small; 'Raleway', sans-serif; 
}


i {
color: blue; 
}

button{
	color: white;
	background-color:#0065FC;
}
h2 {
	font-family: small 
}
h3 {
	text-align:right;
}



h6{
color:#0065FC;
background-color: #DEEBFF;
}





