
.container h1{
  	flex-direction: row ltr
  	flex-wrap: nowrap;
}
.item h1{
   font-family: 'Raleway', sans-serif;  
}

.container nav{
	flex-direction: row;   
}
.item a{
	order: 3;
	flex-grow: 1;
	font-family: 
}
.container div {
	 flex-direction: row;
	 flex-wrap: wrap;
	 justify-content: flex-start;
	 align-content: flex-start;
}
.item span {
	
}


font-family: small; 'Raleway', sans-serif; 
}

i {
color: blue; 
}

button{
	color: white;
	background-color:#0065FC;
}
h2 {
	font-family: small 
}
h3 {
	text-align:right;
}



h6{
color:#0065FC;
background-color: #DEEBFF;
}





