/* GENERIQUE */
* {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
}

/* HEADER */
div.main {
	display: flex;
	justify-content: space-between;
}

div.logo {
	display: flex;
	height: 100px;
	align-items: center;
	padding: 0 30px;
}

ul.main_menu_list {
	/*on retire les marges de base*/
	margin: 0;
	padding: 0;
	/*on vire les points*/
	list-style-type: none;
	display: flex;
	height: 100px;
	align-items: center;
}

ul.main_menu_list a {
	text-decoration: none;
	padding: 0 30px;
	line-height: 100px;
	display: block;
}
/* HEADER */
div.main_titles h1 {
	display: flex;
	padding: 0 30px;
	margin: 0;
}
div.main_titles h2 {
	display: flex;
	padding: 0 30px;
	margin: 0;

}

div.search {
	display: flex;
	padding: 0 30px;
	margin: 0
}
div.filtres {
	display: flex;
	margin: 0;
	padding: 0 30px;

}
ul.filtres {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	height: 100px;
	align-items: center;
}
ul.filtres a {
	justify-content: space-around;
	flex-grow: 4;
	padding: 0 30px;
	line-height: 100px;
	
}

div.info {
	display: flex;
	margin: 0;
	padding: 0 30px;
}












